*{
    margin: 0px;
    padding: 0px;
}
.bg{
    background-color: black;
    color: white;
    height: 500px;
}
.ok{
    display: flex;
    align-items: center;
    justify-content: center;
}
.f1{
    width: 20%;
    height: 170px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
#pa p{
    padding: 0px 30px;
}
.f1 h3{
    margin-bottom: 20px;
}
.w{
    width: 85%;
    display: block;
    margin: auto;
    margin-top: 70px;
}
.spa p{
    margin: 6px 0px;
}
#ni{
    display: flex;
    margin-left: 102px;
    margin-top: 30px;
}
#ni ul{
    display: flex;
    width: 50%;
}
#ni ul li{
    list-style: none;
    margin: 0px 10px;
}
#ima{
    width: 50%;
    text-align: right;
    margin-right: 102px;
}
#lo{
    margin: 40px 102px;
}
#lo p{
    width: 50%;
}
#li{
    margin: 0px 20px;
}
