body{
    background-color: #f2f2f2;
}

#contact{
    background-color: white;
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: none;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus{
    border: 2px solid green;
    text-decoration: none;
}

input{
    height: 55px;
}

.contact-image{
    background-image: url(../images/contact_form.jpg);
    background-size: cover;
}

#table-data{
    color: black;
    margin-top: 30%;
}

tr > td {
    padding-bottom: 10px;
}

#address{
    margin: 0 auto;
}